body {
    background-color: black;
    margin: 0;
    font-family: rubik;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.card {
  height: 350px;
    list-style: none;
   background-color: white;
   color: black;
   text-align: center;
 border-radius: 20px;
}
.card:hover{
    animation: bounce 0.5s linear;
    cursor: pointer;
}


.card2 {
  display: inline-block;
  width: 600px;
  height: 750px;
  color: black;
  text-align: center;
  border-radius: 10px;
  
}



.card-title{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    color: black;

}

.card-subtitle{
    font-weight: lighter;
    margin-top: 5px;

}
.card-image{
  margin-top: 50px;
    height: 50%;
  
}
.card-image2{
    height: 40%;
  
}

a {
    text-decoration: none;
  }

#pokedex {
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 30px;
    color: white;
}



.container{
    padding: 40px;
    margin: 0 auto;
}

h1{ margin-top: 100px;
    margin-bottom: 150px;
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}


.popup {    
    display: flex;
   justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#closeBtn{
    position: absolute;
    top: 20px;
    right: 20px;
}

button{
    background-color:black;
    padding: 20px 40px;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: large;
    box-shadow: 0px 3px 5px 3px  ;

}   


button:hover{
    cursor: pointer;
}

/* Add your custom styles for the Pokémon list and footer here */
/* For simplicity, we'll just use a basic styling for the pagination arrows */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: x-large;
    color: black;
  }
  
  #footer button {
    padding: 20px 40px;
    margin: 0 20px;
    background: white;
    color: darkblue;
  }
  



  h3 {
    text-align: left;
    text-transform: uppercase;
    font-weight: normal;
    color: darkblue;
  }


  .abilities{
    text-align: left;
  }
  


  .card-title2{
    padding: 25px;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: normal;
    color: white;
    
}


.container2 {
    background-color: #fff; 
    border-radius: 50px; 
    padding: 20px;
     
    
  }
  

  .space{
    margin-bottom: 30px;
  }

  ul{
    padding: 20px;
    list-style-type: none;
  }

  

  .container3 {
    display: inline-block;
    margin: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px;
    width: 120px ;
  }
  


 

  progress::before {
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

      

  .stats-list {
    list-style: none;
    padding: 0;
    margin: 40px ;
    display: flex; /* Afișează elementele într-o coloană */
    flex-direction: column; /* Așază elementele într-o coloană */
  }
  
  /* Stilurile pentru fiecare element din lista cu statistici */
  .stats-list li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* Stilurile pentru numele statisticilor */
  .stats-list li x-large {
    margin-right: 50px;
  }
  
  /* Stilurile pentru bara de progres */
  progress {
    margin-top: 10px;
    display: flex;
    width: 85%;
    height: 20px;
    border: none;
    border-radius: 10px;
    border-radius: 10px;
    overflow: hidden; /* Ascunde valorile implicite ale barei de progres */
    position: relative; /* Permite poziționarea absolută a textului */
    margin: 10px 0; /* Spațiu între barele de progres */
    background-color: black;
    align-items: flex-start;
  }
  
  progress::-webkit-progress-value {
    background-color: black; /* Culoarea de umplere a barei de progres */
    border-radius: 10px;
  }


  
  
  .interior{
    overflow: hidden; /* Ascunde conținutul care depășește dimensiunile cardului */
padding: 20px;

  }
    
